<header class=="page-header header container-fluid">
  <div class="overlay">
    <div class="centerbox">
      <p class="centerbox-text">Buy and view stocks intuitively with Stock Portfolio®. Buying stocks has
        never been easier! View stocks color coded based on recent performance and examine your
        trading history with an organized transaction log. </p>
      <p class="centerbox-text"> Want to get started?
        <%= link_to "Log in", new_user_session_path, id: "boxlink" %> or
        <%= link_to "register.", new_user_registration_path, id: "boxlink" %></p>
    </div>
  </div>
</header>
